heading{
	background: linear-gradient(rgba(0, 0, 255, 0.511), white);
}
h1{
  float:right;
}
li{
	float:right;
}
#main-navbar {
  background-color: blue;
  overflow: hidden;
  margin-left:-50px;
  margin-right:-50px;
}
#navbar-container{
  float: left;
  width: 100%;
  position: relative;
  text-align: center;
}
#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}  
#main-navbar ul li {
  float: left;
}
#main-navbar ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
 }
#main-navbar ul li a:hover {
  background-color: #000;
  text-decoration: underline overline;
}
body{
	text-align:center;
}
p{
	margin:.5em;
	margin-bottom:.7em;
	font-size:18px;
}
h2{
	font-size:1.7em;
}
h3{
	font-size:1.471em
}
