*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.showcase{
  background: linear-gradient(rgba(0, 187, 255, 0.511), rgba(164, 77, 226, 0.778));
  width: 100%;
  height: 90%;
}
.showcase .navbar-top{
  width: 100%;
  display: flex;
  padding: 0 80px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 255, 255, 0.591);
  margin-bottom: 5%;
  top: 0;
  left: 0;
}
.showcase .left{ 
  display: flex;
  list-style: none;
}
.showcase .left li a{
  display: inline-block;
  font-size: 30px;
  text-decoration: none;
  color: rgb(37, 17, 43);
  padding:  10px 30px;
}
.showcase .left li:first-child{
  font-weight: 700;
  border-right: 1px solid blue;
}
/* showcase-content*/
.showcase .showcase-content{
  max-width: 850px;
  margin-bottom: 5%;
  padding: 0 95px;
}
.showcase .showcase-content h1{
  color: darkblue;
  font-size: 60px;
  margin: 15px 0;
}
.showcase .showcase-content span{
  color: aliceblue;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
}
.showcase .showcase-content p{
  color: antiquewhite;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
}
.showcase .showcase-content .btn-left{
  background: linear-gradient(to right, rgba(0, 0, 255, 0.44),lightblue);
}
.showcase .showcase-content .btn-right{
  background: linear-gradient(to right, lightblue,rgba(0, 0, 255, 0.519));
}
/*----------------------------------------------------------------------*/
/* .btn button configuration*/
/* utility classes*/
.text-secondary{
  color: blueviolet;
}
.text-center{
  text-align: center;
}
.bg-light{
  background: cadetblue;
}

.py-3{padding: 48px 0;} 



.wrapper{
  max-width: 1320px;
  padding: 0 50px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.btn{
  display: inline-block;
  padding: 15px 25px;
  margin-right: 30px;
  margin-top: 10px;
  text-decoration: none;
  border-radius: 25px;
  color: aliceblue;
  font-size: 15px;
  font-weight: bold;
  overflow: hidden;
  transition: all 0.5s ease;
}
/*----------------------------------------------------------------------*/
/* information section styling */
#information .items{
  display: flex;
  padding-bottom: 10px;
  margin-top: 15%;
}
#information{
  margin-top: 1%;
  background: linear-gradient(#b85de68c, rgba(224, 224, 231, 0.892));

 
}
#information .items .item{
  text-align: center;
  padding: 10px;
  margin: 10px;
  background: rgb(43, 168, 226);
  border-radius: 5px;
  box-shadow: 5pc 5px 20px rgba(100, 148, 237, 0.576), -5px -5px 20px rgba(128, 128, 128, 0.555);
}
#information .items item h3{
  color: darkturquoise;
  font-size: 30px;
  margin: 5px;
}
#information .items item p{
  line-height: 2.5;
  font-size: 30px;
  color: azure;
}
#information .items item:hover{
  color: blue;
}
#constitution body{
	text-align:center;
}
#constitution p{
	margin:.5em;
	margin-bottom:.7em;
	font-size:18px;
}
#constitution h2{
	font-size:1.7em;
}
#constitution h3{
	font-size:1.471em
}